@import "../../App.scss";
.head-description{
    display: flex;
    justify-content: space-between;
}
.property-title{
    color:$primary-color;
    font-size: 25px;
    font-weight: 700;

}
.property-location{
    font-size: 18px;
}
.head-description{
    margin-top: 20px;
    line-height: 10px;
}
.host{
    display: flex;
    justify-content: space-between;
}
.host-name{
    color:$primary-color;
    font-size: 15px;
    font-weight: 700;
    margin: 26px 10px;
}
.host-picture {
    border-radius: 100px;
    width: 64px;
    height: 64px;
    object-fit: cover;
    margin-left: 10px;

}
.equipments{
    line-height: 30px;
}

   

 


.tag-buttons{
    border: 1px solid rgb(174, 172, 172);
    color: white;
    width: auto;
    padding: 0px 15px 0px 15px;
    height: 25px;
    background-color:$primary-color ;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
    font-weight: 700;
}

  @media (min-width: 768px) and (max-width: 1024px) {
    .head-description{
        line-height: 25px;
        display: flex;
        flex-direction: column;

    }
    .host{
        flex-direction: row-reverse;
        justify-content: flex-end;

    }
  }
  @media (min-width:320px) and (max-width: 767px) {
    .head-description{
        line-height: 25px;
        display: flex;
        flex-direction: column;
    }
    .property-title{
        font-size: 15px;
    }
    .host{
        flex-direction: row-reverse;
        justify-content: flex-end;

    }
  }
  @media (min-width: 768px) {
  .desc-equi{
        display: flex;
        justify-content: space-between;
        .collapse-container{
            flex-basis: calc(50% - 15px);
        }
    }
}