@import "../../App.scss";
.error {
    font-size: 180px;
    color:$primary-color;
    text-align: center;
}
.error-text {
    text-align: center;
    font-size: 36px;
    color:$primary-color;
    margin-top: none;
    margin-bottom: 50px;
}
h3{
    text-decoration: underline;
    font-size: 15px;
    text-align: center;
    color: black;
}