@import "../../App.scss";
$secondary-color: white; 
$text-color: black;
$base-padding: 10px;
$font-large: 20px;
$font-small: 12px;
$border-radius-standard: 10px;
$transition-speed: 1s ease;


.collapse-container {
  margin-bottom: 15px;
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: $secondary-color;
  padding: $base-padding;
  cursor: pointer;
  border-radius: $border-radius-standard;

  .collapse-title {
    margin: 0;
    font-size: $font-large;
  }

  .collapse-icon {
    font-size: $font-small;
    transition: transform $transition-speed;

    &.open {
      transform: rotate(180deg);
    }
  }
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height $transition-speed;
  background-color: $secondary-color;
  padding: 0 $base-padding;
  border-radius: $border-radius-standard;

  &.open {
    padding: $base-padding;
    max-height: 230px;
  }

  p {
    margin: 0;
    color: $text-color;
  }
}
