@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$primary-color: #FF6060;
$footer-background: black;
$footer-text-color: white;
$base-padding: 20px;
$footer-text-size: 16px;

